run = "clojure -M src/clojuresque/call-main.clj"

entrypoint = "src/clojuresque/call-main.clj.clj"

[env]
CLJ_CONFIG = "/home/runner/.clojure"

[languages.clojure]
pattern = "**/*.clj"

[languages.clojure.languageServer]
start = ["clojure-lsp"]
